/*Header styling*/

.main-header {
    padding: 50px;
    text-align: center;
    // background-image: url(../img/bg-img.jpg);
    // background-attachment: fixed;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position-y: -300px;
    // width:100%;
    // height:400px;

}

.main-title {
    color:$tan;

}

.main-heading {
    color: $heading-color;
}

.arrow {
    width: 5%;
}

/*Body styling*/

.primary-content {

}

.intro {

}

.wildlife {

}

.secondary-content {

}

.resorts {

}

.tips {

}

/*Button*/

.callout {

}

/*Footer*/ 

.main-footer {

}

