// Descriptive variables

$grey: #636B61;
$light-blue:rgb(170, 191, 213) ;
$dark-blue: #93ACB5;

$yellow-orange: yellow;

// Font variables
@import url('https://fonts.googleapis.com/css?family=KoHo');
$font:'KoHo', sans-serif;

$primary-color:#bada55;
$font-size1: 3.125em;
$font-size2: 2.125em;
$text-color:#f0f;