// Descriptive variables

$grey: #636B61;
$tan: #7A8450;



// Font variables
@import url('https://fonts.googleapis.com/css?family=KoHo');
$font:'KoHo', sans-serif;

$primary-color:#D6CE93;
$font-size1: 3.125em;
$font-size2: 2.125em;
$text-color:#37371F;
$heading-color:$grey;